
body {
  color: #fff;
  font: 48px Proxima Nova, Avenir Next, Segoe UI, Helvetica, Arial, sans-serif;
  -webkit-app-region: drag;
}
main {
  display: flex;
  position: absolute;
  top: 5px; right: 10px; bottom: 10px; left: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  -webkit-app-region: drag;
}
body main {
  background: #4F5664;
}
body.is-red main {
  background: #F4424D;
}
body.is-green main {
  background: #69BD71;
  animation: 0.8s green;
}
@keyframes green {
  0% {
    transform: perspective(1024px) rotateX(0deg);
  }
  100% {
    transform: perspective(1024px) rotateX(360deg);
  }
}
.Status {
  text-align: center;
}
